* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}
.container {
  background-color: #de5254;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  padding: 40px;
}
.menu {
  max-width: 780px;
  margin: 0 auto;
}
.card {
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 5px 10px 5px 0px rgba(230, 230, 230, 0.76);
  margin: 40px;
}
a {
  text-decoration: none;
}
.logo {
  color: white;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
