* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
}
/* Gradient */

.container {
  background-color: white;
  margin: 20px;
  padding: 20px;
}
.title {
  margin: 20px;
  text-align: center;
  font-size: 24px;
}
hr {
  width: 55%;
  margin: auto;
  border: 1px solid #e5e5e5;
}
.column1,
.column2 {
  padding: 10px;
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.primary,
.secondary {
  display: grid;
  grid-template-columns: "1fr 1fr 1fr";
  justify-content: center;
  gap: 10px;
  align-items: center;
}
button {
  padding: 10px;
}
input[type="text"] {
  padding: 10px;
}
#primaryColorCard,
#secondaryColorCard {
  height: 70px;
  width: 70px;
  margin: auto;
  align-content: center;
  border-radius: 5px;
}

#gradientColorCard {
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: auto;
  border-radius: 10px;
}

#cssCode {
  margin: 20px;
}

#code {
  font-family: "Roboto Mono", monospace;
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
}

.gradientOptions {
  font-size: 18px;
}

hr {
  width: 55%;
  margin: auto;
  border: 1px solid #e5e5e5;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
    margin: 10px 5em;
  }

  .primary,
  .secondary {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
  }

  #gradientColorCard {
    margin: auto;
    width: 55%;
  }
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .gradientOptions {
    font-size: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  .cssSection {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    margin: 2em 5em;
  }
  /* gradient section */
}
