* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
}

/* Colors */
.container {
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.title {
  margin: 20px;
  text-align: center;
  font-size: 24px;
}

hr {
  width: 55%;
  margin: auto;
  border: 1px solid #e5e5e5;
}

.column1 {
  padding: 20px;
  display: grid;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  gap: 5px;
}
.column2 {
  display: grid;
  font-size: 14px;
  overflow-x: scroll;
}
.shades,
.text,
.tints {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-content: space-between;
  text-align: center;
  padding: 0 40px;
  margin-bottom: 10px;
}
.shadeBox {
  padding: 20px;
  color: whitesmoke;
}
.shadeBox:hover,
.tintBox:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.tintBox {
  padding: 20px;
}
#copy {
  position: -webkit-sticky;
  position: sticky;
  padding: 20px;
  top: 0;
  background-color: gray;
  text-align: center;
  font-size: 20px;
  display: none;
  z-index: 1;
  color: white;
}
#colorCard,
#alteredColorCard {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 5px;
}
input[type="text"] {
  padding: 10px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .column2 {
    overflow: auto;
  }
}
