.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  margin-top: -20px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 600px) {
  .menu {
    font-size: 10px;
    width: 150px;
  }
}
